{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Blitz API server.",
        "title": "Swagger Blitz API",
        "contact": {},
        "version": "1.0"
    },
    "host": "back.blitz.yurtal.tech",
    "basePath": "/",
    "paths": {
        "/api/v1/auth/login": {
            "post": {
                "description": "Authenticate user and return access token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "User login",
                "parameters": [
                    {
                        "description": "Login credentials",
                        "name": "input",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.LoginRequest"
                        }
                    },
                    {
                        "type": "string",
                        "default": "uz",
                        "description": "Tilni belgilash uchun (masalan: uz,de)",
                        "name": "Accept-Language",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.LoginResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "description": "Register a new user and return token with user data",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "User registration",
                "parameters": [
                    {
                        "description": "Registration data",
                        "name": "input",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.RegisterRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/level-price/create": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Creates a new price for a specific level in the system",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "level-prices"
                ],
                "summary": "Create a new price level",
                "parameters": [
                    {
                        "type": "string",
                        "default": "Bearer \u003cyour_token\u003e",
                        "description": "Bearer token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Price level creation details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.CreatePriceForLevelRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully created price level",
                        "schema": {
                            "$ref": "#/definitions/model.CreatePriceForLevelResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request or price level already exists",
                        "schema": {
                            "$ref": "#/definitions/model.CreatePriceForLevelResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing token",
                        "schema": {
                            "$ref": "#/definitions/model.CreatePriceForLevelResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/model.CreatePriceForLevelResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/payments/create": {
            "post": {
                "description": "Creates a new payment invoice for the authenticated user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "payments"
                ],
                "summary": "Create a new payment invoice",
                "parameters": [
                    {
                        "type": "string",
                        "default": "Bearer \u003cyour_token\u003e",
                        "description": "Bearer token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Invoice creation request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.IndexCreation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully created invoice",
                        "schema": {
                            "$ref": "#/definitions/model.CreateInvoiceResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request or missing required fields",
                        "schema": {
                            "$ref": "#/definitions/model.CreateInvoiceResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - User not authenticated",
                        "schema": {
                            "$ref": "#/definitions/model.CreateInvoiceResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/model.CreateInvoiceResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/user/password": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update the password of the currently authenticated user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Update user password",
                "parameters": [
                    {
                        "description": "Password update data",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdatePasswordRequest"
                        }
                    },
                    {
                        "type": "string",
                        "default": "uz",
                        "description": "Tilni belgilash uchun (masalan: uz,de)",
                        "name": "Accept-Language",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.SuccessResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.CreateInvoiceResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "payment_url": {
                            "type": "string"
                        }
                    }
                },
                "error": {
                    "type": "integer"
                },
                "error_note": {
                    "type": "string"
                }
            }
        },
        "model.CreatePriceForLevelRequest": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "level": {
                    "type": "string"
                }
            }
        },
        "model.CreatePriceForLevelResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/model.PriceForLevelResponse"
                },
                "error": {
                    "type": "integer"
                },
                "error_note": {
                    "type": "string"
                }
            }
        },
        "model.ErrorResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "example": "error message"
                }
            }
        },
        "model.IndexCreation": {
            "type": "object",
            "properties": {
                "provider": {
                    "type": "string"
                }
            }
        },
        "model.LoginRequest": {
            "type": "object",
            "properties": {
                "password": {
                    "type": "string",
                    "example": "password123"
                },
                "phoneNumber": {
                    "type": "string",
                    "example": "1234567890"
                }
            }
        },
        "model.LoginResponse": {
            "type": "object",
            "properties": {
                "accessToken": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                },
                "refreshToken": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                },
                "user": {
                    "$ref": "#/definitions/model.UserResponse"
                }
            }
        },
        "model.PriceForLevelResponse": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                },
                "level": {
                    "type": "string"
                }
            }
        },
        "model.RegisterRequest": {
            "type": "object",
            "properties": {
                "fullName": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                }
            }
        },
        "model.SuccessResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "example": "Password updated successfully"
                }
            }
        },
        "model.UpdatePasswordRequest": {
            "type": "object",
            "properties": {
                "currentPassword": {
                    "type": "string",
                    "example": "password123"
                },
                "newPassword": {
                    "type": "string",
                    "example": "newPassword123"
                }
            }
        },
        "model.UserResponse": {
            "type": "object",
            "properties": {
                "balance": {
                    "type": "integer",
                    "example": 1000
                },
                "dateOfBirth": {
                    "type": "string",
                    "example": "2022-01-01T00:00:00Z"
                },
                "email": {
                    "type": "string",
                    "example": "user@example.com"
                },
                "fullName": {
                    "type": "string",
                    "example": "John Doe"
                },
                "gender": {
                    "type": "string",
                    "example": "male"
                },
                "group": {
                    "type": "string",
                    "example": "group_1"
                },
                "id": {
                    "type": "string",
                    "example": "1234567890"
                },
                "isAgreedForUserContract": {
                    "type": "boolean",
                    "example": true
                },
                "isVerified": {
                    "type": "boolean",
                    "example": true
                },
                "level": {
                    "type": "string",
                    "example": "level_1"
                },
                "overAll": {
                    "type": "integer",
                    "example": 1
                },
                "phoneNumber": {
                    "type": "string",
                    "example": "+998901234567"
                },
                "photo": {
                    "type": "string",
                    "example": "https://example.com/photo.jpg"
                },
                "role": {
                    "type": "string",
                    "example": "user"
                },
                "status": {
                    "type": "string",
                    "example": "active"
                },
                "xp": {
                    "type": "integer",
                    "example": 100
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}